<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the Chatty App! <br /> <br /> Made for software engineering consultants.
      </h4>

      <p>
        Add your clients and coworkers catering to each project.
        <br />
        We also happen to be slack's biggest competitor!
      </p>

      <hr />

      <p>
        Create or join a room.
      </p>
    </div>
  </div>
</div>