<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the chatty app, slacks biggest competitor!
      </h4>

      <p>
        We should talk.
      </p>

      <hr />

      <p>
        Create or join a room.
      </p>
    </div>
  </div>
</div>